html
{
    overflow: hidden;
    background-color: red;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    min-height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: blueviolet;
}

#graph-div {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.ngx-charts {
    width: 100%;
    height: 100%;
    transition-delay: 5s;
}
